<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bookmark Manager</title>
    <meta name="bookmark manager , building a simple webapp" content="">
    <link rel="stylesheet" href="">
  </head>
  <body>
  <ul>
    <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank"> 
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="post">
        <input type="submit" value="Edit"/>
      <form>
      <% end %>
    </ul>
      <form action="/bookmarks/new" method="get">
        <input type="submit" value="Add bookmark" />
      </form>   
  </body>
</html>